/* etiqueta { propiedad : valor ; } */

*{border:1px solid goldenrod}
/*llamar a la etiqueta directo*/
    body{background-color:azure;}


    /*llamar a una clase */
.titular{
    background-color: blue;
    color:grey;
    font-size: 50px;
}

/*llamar a un id*/
#titular3{
    color:deeppink;
}


/*******************/
.rojo{color:red}
.borde{border: 1px solid yellow;}

#relativa{
    position: relative;
    right:100px;
    top:100px
}
#whatsapp{
    position:fixed;
    bottom:1vw;
    right:1vw;
}





#GKCOUMMUNITY{
    color: whitesmoke;
    background-color: black;

    height: 15vw;
    display:flex;
    justify-content: center;
    align-items: center;    

    font-weight: 600;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    
}

#TEXTO-INSPIRADOR{
    position: relative;
    margin: 5vw;
    padding: 5px;
    text-transform: uppercase;
    font: 1.5rem 'MutatorSans', sans-serif;
    font-weight: 500;

}

#SECCIONES{
    display:inline;
    margin-left: 5vw;
}
li{
    display:inline;
    margin-left: 5vw;
}

