@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

@font-face {
  font-family: 'Modern Football';
  src: url('fonts/against_modern_football.ttf') format('truetype');
}

@font-face {
  font-family: 'Football Attack';
  src: url('fonts/Football\ Attack\ Demo.ttf') format('truetype');
}

body {
  background-image: url("/IMAGES/EMI.avif");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 60px;
  font-family: 'Modern Football';
  color: #000000;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
h2{
    font-size: 40px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}   

p {
  font-size: 30px;
  font-family:'Football Attack';
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.buttons {
  margin-top: 50px;
}

button {
  margin: 5px;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #009933;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #008026;
  cursor: pointer;
}

